@charset "UTF-8";
/*body with header*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #DDFFF7; }

body {
  font-family: 'Lato', sans-serif;
  background-color: #0D0106;
  overflow-x: hidden; }

.tamLogo {
  width: 100px; }

.fuentes {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  color: #DDFFF7; }
  .fuentes:hover {
    color: #DDFFF7;
    opacity: .6; }

.menuVertical .fuentesDos {
  font-size: 1rem;
  font-weight: 500;
  color: #DDFFF7; }
  .menuVertical .fuentesDos:hover {
    text-decoration: underline;
    color: white;
    background-color: black; }

.button-style {
  color: white; }

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

/*secciones*/
.collection-img {
  margin: 15px; }
  .collection-img span {
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 10px; }
  .collection-img img:hover {
    cursor: pointer;
    transform: scale(1.1); }

.botonVer {
  border: 2px solid white;
  border-radius: 99px;
  padding: 0px 0px 0px 18px;
  color: white; }
  .botonVer i {
    color: white;
    margin-right: 5px; }
  .botonVer a:hover {
    background-color: white; }

#servicios {
  background-color: #0D0106;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  #servicios .caja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px; }
    #servicios .caja i {
      color: white;
      width: 100%;
      height: 30px;
      margin-bottom: 7px; }
    #servicios .caja p {
      color: white;
      margin-bottom: 60px; }
  #servicios span {
    text-align: center; }
  #servicios .servicioUno, #servicios .servicioDos, #servicios .servicioTres {
    margin: 0 40px; }

#bannerDos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/4505016.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh; }
  #bannerDos h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    font-family: sans-serif; }

.iniciarSesion {
  color: #DDFFF7;
  font-size: 2rem;
  font-weight: bold;
  margin: 20px;
  padding-left: 48px; }

.contenedor {
  max-width: 800px;
  margin: 40px 60px; }
  .contenedor .email, .contenedor .contraseña {
    width: 60%; }
  .contenedor .botonEnviar {
    color: #0D0106;
    font-weight: bold;
    background-color: #FFE900; }

/*footer*/
#footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #DDFFF7; }
  #footer .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 10px; }
    #footer .box span {
      display: inline-block;
      margin-bottom: 10px; }
    #footer .box a {
      width: 45px;
      height: 25px;
      line-height: 25px;
      color: white;
      text-decoration: none;
      margin-right: 10px;
      background-color: #0d2033;
      text-align: center; }
      #footer .box a:hover {
        transform: scale(1.05); }
    #footer .box .nav-a {
      color: white;
      text-decoration: none;
      width: auto;
      background-color: none;
      height: auto;
      font-size: 20px; }
  #footer h2 {
    color: #0D0106;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: underline; }
  #footer p {
    font-size: 15px;
    color: #0D0106; }

.wsp img {
  position: fixed;
  width: 40px;
  right: 10px;
  bottom: 10px; }
  .wsp img:hover {
    opacity: .7; }

@media screen and (min-width: 600px) {
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 25px; }
  header .boton {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    border: 2px white solid;
    border-radius: 4px;
    margin-bottom: 5px; }
  body {
    overflow-x: hidden; }
  #productos .caja {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px; }
    #productos .caja .botonComprar {
      text-align: center;
      margin-left: auto;
      margin-right: auto; }
  .collection-img img {
    width: 500px; }
  #footer {
    background-color: #DDFFF7; }
    #footer h2 {
      color: #0D0106;
      font-weight: bold; }
    #footer p {
      color: #0D0106; }
  #ads {
    background-image: url(../img/banner-bitcoin.jpg);
    position: relative;
    background-size: cover;
    height: 35vh;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden; } }

@media screen and (min-width: 800px) {
  .header .caja {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 120px; }
    .header .caja nav {
      margin-top: 19px; }
  body {
    overflow-x: hidden; }
  #banner {
    height: 100vh;
    object-fit: cover; }
  #footer {
    background-color: #DDFFF7; }
    #footer h2 {
      color: #0D0106;
      font-weight: bold; }
    #footer p {
      color: #0D0106; }
  #ads {
    background-image: url(../img/banner-bitcoin.jpg);
    position: relative;
    background-size: cover;
    height: 35vh;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden; } }

@media screen and (min-width: 900px) {
  #productos .caja {
    /* display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    height: 700px; }
    #productos .caja .botonComprar {
      text-align: center;
      margin-left: auto;
      margin-right: auto; }
  body {
    overflow-x: hidden; }
  #servicios .caja {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px; }
  #footer {
    width: 100%;
    background-color: #DDFFF7; }
    #footer h2, #footer p {
      color: #0D0106;
      font-weight: bold; }
    #footer .caja {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
      padding: 45px 0px; }
  #ads {
    background-image: url(../img/banner-bitcoin.jpg);
    position: relative;
    background-size: cover;
    height: 35vh;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden; } }

@media screen and (min-width: 1100px) {
  #banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    overflow-x: hidden;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/probar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    #banner:hover {
      filter: grayscale(40%); }
    #banner h1 {
      color: white;
      font-size: 50px;
      font-weight: bold;
      font-family: sans-serif;
      margin-top: 0px; } }

#productos .caja {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 700px;
  gap: 50px; }

#banner {
  width: 100%; }
  #banner h1 {
    display: none; }
    #banner h1 button {
      margin-top: 400px; }

body {
  overflow-x: hidden; }

.tamañoImagenes img {
  height: 90vh;
  width: 100vh;
  object-fit: contain; }

#ads {
  background-image: url(../img/banner-bitcoin.jpg);
  position: relative;
  background-size: cover;
  height: 35vh;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden; }
