.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

/*secciones*/
#productos {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #productos .caja img {
    width: 250px;
    height: 250px;
    margin-bottom: 7px;
    border: 5px white solid; }
  #productos .caja {
    margin: 50px; }
    #productos .caja .botonComprar, #productos .caja #banner button, #banner #productos .caja button {
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      color: black;
      margin-bottom: 40px;
      border: 5px;
      border-radius: 5px;
      padding: 10px;
      background-color: #FFE900;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #fffc00;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #ffffff, #fffc00);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #ffffff, #fffc00);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      text-align: center;
      margin-left: auto;
      margin-right: auto; }

#servicios {
  background-color: #0D0106;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #servicios .caja {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px; }
    #servicios .caja i {
      color: white;
      width: 100%;
      height: 30px;
      margin-bottom: 7px; }
    #servicios .caja p {
      color: white;
      margin-bottom: 60px; }
  #servicios span {
    text-align: center; }
  #servicios .servicioUno, #servicios .servicioDos, #servicios .servicioTres {
    margin: 0 40px; }

#bannerDos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/4505016.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh; }
  #bannerDos h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    font-family: sans-serif; }

/*body with header*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #DDFFF7; }

body {
  font-family: 'Lato', sans-serif;
  background-color: #0D0106; }

.tamLogo {
  width: 100px; }

.fuentes {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  color: #DDFFF7; }
  .fuentes:hover {
    color: #DDFFF7;
    opacity: .6; }

.menuVertical {
  background-color: #0D0106; }
  .menuVertical .fuentesDos {
    font-size: 1rem;
    font-weight: 500;
    color: #DDFFF7; }

.button-style {
  color: white; }

/*footer*/
#footer {
  background-color: #DDFFF7; }
  #footer .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 10px; }
    #footer .box span {
      display: inline-block; }
    #footer .box a {
      width: 45px;
      height: 25px;
      line-height: 25px;
      color: white;
      text-decoration: none;
      margin-right: 10px;
      background-color: #0d2033;
      text-align: center; }
      #footer .box a:hover {
        transform: scale(1.05); }
  #footer h2 {
    color: #0D0106;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: underline; }
  #footer p {
    font-size: 15px;
    color: #0D0106; }

.wsp img {
  position: fixed;
  width: 40px;
  right: 10px;
  bottom: 10px; }
  .wsp img:hover {
    opacity: .7; }

/*banner 1, extend linea 24*/
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  #banner:hover {
    filter: grayscale(40%); }
  #banner button {
    margin-bottom: 10px;
    color: white;
    border: 10px;
    border-radius: 10px;
    padding: 15px;
    background-color: #FFE900;
    text-transform: uppercase;
    font-weight: bold; }
