/*footer*/

#footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #DDFFF7;
    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 10px;
        span {
            display: inline-block;
            margin-bottom: 10px;
        }
        a {
            width: 45px;
            height: 25px;
            line-height: 25px;
            color: white;
            text-decoration: none;
            margin-right: 10px;
            background-color: #0d2033;
            text-align: center;
            &:hover {
                transform: scale(1.05);
             }
        }
    }
    h2 {
        color: #0D0106;
        text-align: center;
        margin-bottom: 10px;
        font-weight: bold;
        text-decoration: underline;
    }
    p {
        font-size: 15px;
        color: #0D0106;
    }

}
.wsp img {
    position: fixed;
    width: 40px;
    right: 10px;
    bottom: 10px;

    &:hover {
        opacity: .7;
    }
}