#productos {
    display: flex;
   flex-direction: column;
   align-items: center; 
   .caja img {
    width: 250px;
    height: 250px;
    margin-bottom: 7px;
    border: 5px white solid;
    }
    .caja {
        margin: 50px;
      .botonComprar {
            color: black;
            margin-bottom: 40px;
            border: 5px;
            border-radius: 5px;
            padding: 10px;
            background-color: #FFE900;
            text-transform: uppercase;
            font-weight: bold;
            display: flex;
            flex-direction: column; 
            align-items: center;
            background: #fffc00;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #ffffff, #fffc00);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #ffffff, #fffc00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }    
    }
}

#servicios {
    background-color: #0D0106;
    display: flex;
    flex-direction: column;
    align-items: center;
    .caja {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px;
        i {
            color: white;
            width: 100%;
            height: 30px;
            margin-bottom: 7px;
        }
        p {
            color: white;
            margin-bottom: 60px;
        }
    }
    span {
        text-align: center;
    }
    .servicioUno , .servicioDos , .servicioTres {
        margin: 0 40px;
    }
}

#bannerDos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/4505016.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    h1 {
        font-size: 50px;
        font-weight: bold;
        color: white;
        margin-bottom: 20px;
        font-family: sans-serif;
    }
}